<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FINALS_nepoCoders_IT_ELEC.My.MySettings.NepoCodersDBConnectionString"
            connectionString="Data Source=DESKTOP-0T5J3V4\SQLEXPRESS;Initial Catalog=NepoCodersDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>